/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

h1 {
  color: black;
}

a {
  color: blue;
}

th {
  padding: 25px;
}

td {
  padding: 25px;
}
